<div class="container">
    <table>
        <h3>Uw contacten</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" id="computer">Computer</button>
                <button class="btn btn-outline-secondary" type="button" id="rijden">Kan rijden</button>
                <button class="btn btn-outline-secondary" type="button" id="medisch">Medisch</button>
                <button class="btn btn-outline-secondary" type="button" id="volledig">Hele Lijst</button>
            </div>
        </div>

        <table class="table" id="contactsList">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Naam</th>
                <th scope="col">Woonplaats</th>
                <th scope="col">Telefoonnummer</th>
                <th scope="col">Computer</th>
                <th scope="col">Kan rijden</th>
                <th scope="col">Medisch</th>
                <th scope="col">Gezellig</th>
                <th scope="col">Beschrijving</th>
            </tr>
            </thead>
            <tbody>
           
            </tbody>
        </table>
    </table>
    <button type="button" class="btn btn-success" id="a">Voeg contact toe</button>
    <button type="button" class="btn btn-success" id="b">Wijzig contact</button>
</div>

