<div class="row">
    <div class="addctt">
        <h1>Contact toevoegen</h1>
    </div>

    <form class="contact-form">
        <div class="form-group">
            <label>Voornaam</label><br>
            <input type="text" name="username" class="form-control" aria-describedby="emailHelp" placeholder="Vul de desbetreffende naam in">
        </div>
        <div class="form-group">
            <label>Achternaam</label><br>
            <input type="text" class="form-control" id="lastname" placeholder="Vul achternaam in">
        </div>
        <div class="form-group">
            <label for="gender">Geslacht</label><br><select id="gender">
                <option value="male">Man</option>
                <option value="female">Vrouw</option>
                <option value="other">Overig</option>
            </select>
        </div>
        <div class="error mb-3 text-danger"></div><br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
