<div class="row">
    <div class="col-lg-12 text-center m-2">
        <h1 class="mt-5">Contact Wijzigen</h1>
        <p class="lead">Wijzig hier uw contact!</p>

        <form>
            <div class="form-group">
                <label for="exampleContact">Naam:</label>
                <input type="text" name="contactname" class="form-control" id="exampleContact"
                       aria-describedby="emailHelp" placeholder="Vul contactnaam in">
            </div>
            <div class="form-group">
                <label for="exampleWoonplaats">Woonplaats:</label>
                <input type="text" name="residence" class="form-control" id="exampleWoonplaats"
                       placeholder="Vul woonplaats van het contact in">
            </div>
            <div class="form-group">
                <label for="exampleOmschrijving">Omschrijving:</label>
                <input type="text" name="description" class="form-control" id="exampleOmschrijving"
                       placeholder="Schrijf iets over uw contact">
            </div>
            <div class="form-group">
                <label for="exampleTelefoonnummer">Telefoonnummer:</label>
                <input type="text" name="phonenumber" class="form-control" id="exampleTelefoonnummer"
                       placeholder="Vul telefoonnummer van het contact in">
            </div>
            <p>Wijzig hier de kwaliteiten van uw contact:</p>
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" value="false">
                <label class="form-check-label" for="exampleCheck1">Medisch</label>
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck2" value="false">
                <label class="form-check-label" for="exampleCheck2">Computer</label>
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck3" value="false">
                <label class="form-check-label" for="exampleCheck3">Gezellig</label>
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck4" value="false">
                <label class="form-check-label" for="exampleCheck4">Kan rijden</label>
            </div>

            <button type="button" class="btn btn-warning" id="b">Verwijderen</button>
            <button type="button" class="btn btn-success" id="a">Bewaar</button>

            <br>
            <br>

            <div class="error mb-3 text-danger"></div>
        </form>
    </div>
</div>