<div class="container">
    <div class="contactentable">
        <table class="table table-light">
            <thead>
            <tr>
                <th scope="col">Naam</th>
                <th scope="col">Woonplaats</th>
                <th scope="col">Telefoon nummer</th>
                <th scope="col">Expertise</th>
                <th scope="col">Beschrijving</th>
            </tr>
            </thead>
            <tbody>
            <!--Wordt ingeladen via JS-->
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-success" id="a">Voeg contact toe</button>
    <button type="button" class="btn btn-success" id="b">Wijzig contact</button>
</div>

