<div class="container">
    <table>
        <h3>Uw contacten</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button">Medisch</button>
                <button class="btn btn-outline-secondary" type="button">Computer</button>
                <button class="btn btn-outline-secondary" type="button">Gezellig</button>
                <button class="btn btn-outline-secondary" type="button">Kan rijden</button>
            </div>
        </div>
<!--        <button type="button" class="btn btn-success" id="medisch">Medisch</button>-->
<!--        <button type="button" class="btn btn-success" id="computer">Computer</button>-->
<!--        <button type="button" class="btn btn-success" id="gezellig">Gezellig</button>-->
<!--        <button type="button" class="btn btn-success" id="kan rijden">Kan rijden</button>-->
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Naam</th>
                <th scope="col">Woonplaats</th>
                <th scope="col">Telefoonnummer</th>
                <th scope="col">Medisch</th>
                <th scope="col">Computer</th>
                <th scope="col">Gezellig</th>
                <th scope="col">Kan rijden</th>
                <th scope="col">Beschrijving</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Harold</th>
                <td>Amsterdam</td>
                <td>06666666666666666</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>Text</td>
            </tr>
            <tr>
                <th scope="row">Hans</th>
                <td>Almere</td>
                <td>09999999999999999999999</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>Text</td>
            </tr>
            <tr>
                <th scope="row">Piet</th>
                <td>Amsterdam</td>
                <td>0777777777777777777</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>Text</td>
            </tr>
            <tr>
                <th scope="row">Sarah</th>
                <td>Amsterdam</td>
                <td>03333333333333333333</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>Text</td>
            </tr>
            <tr>
                <th scope="row">Sanne</th>
                <td>Amsterdam</td>
                <td>08888888888888888888</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>komt later</td>
                <td>Text</td>
            </tr>
            </tbody>
        </table>
    </table>
    <button type="button" class="btn btn-success" id="a">Voeg contact toe</button>
    <button type="button" class="btn btn-success" id="b">Wijzig contact</button>
</div>

