<div class="container">
    <div class="AlgemeenFAQ">
        <div class="faqheader">
            <h1>Veelgestelde vragen - Algemeen</h1>
        </div>
        <div class="faqvragen">
            <div class="row">
                <div class="col">
                    <h4>Hoe kan ik mijn contacten bekijken?</h4>
                    <p>Het eerste waar u op moet letten is of u wel bent ingelogd. Als dit het geval is klikt op "Menu" en klikt u vervolgens op "Contacten".</p>
                </div>
                <div class="col">
                    <h4>Ik heb een vraag die er niet bij deze lijst staat</h4>
                    <p>Als uw vraag er niet tussen staat neem dan gerust contact met ons op via de Contact ons pagina!</p>
                </div>
                <div class="col">
                    <h4>Hoe voeg ik een contact toe?</h4>
                    <p>Als u naar de Contact Toevoegen pagina gaat, zal er een plusje zijn bovenaan het scherm. Klik daarop en dan wordt u doorgeleid naar een formulier die u moet invullen met de gegevens van de desbetreffende contactpersoon.</p>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <h4>Hoe verwijder ik mijn account?</h4>
                    <p>Op dit moment is er nog geen manier om dit zelf te doen. Wel kunt u een bericht naar ons sturen via de Contact ons pagina en dan zullen wij zonder vragen uw account verwijderen.</p>
                </div>
                <div class="col">
                    <h4>Ik heb een fout gevonden in de site, waar kan ik dit melden?</h4>
                    <p>Dit kunt u melden bij de Contact ons pagina. Als u bugs rapporteert wees er dan zeker van dat uw genoeg informatie vermeld zodat wij het sneller kunnen fixen.</p>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </div>

</div>
