<div class="row">
    <div class="col-lg-12 text-center m-2">
        <h1 class="mt-5">Welkom bij jouw enige echte contactenboek!</h1>
        <p>De plek om jouw contacten op te slaan voor het geval dat u iemand nodig heeft.</p>
        <p class="lead">Klik op de onderstaande knop om verder te gaan.</p>
        <button type="button" class="proceedbtn">Doorgaan</button>
        <img src="/assets/img/landingspagePH.svg" alt="">
    </div>

    <div class="card">
        <img src="src/assets/img/1024px-Esculaap.svg.png" alt="Avatar" style="width:18rem; text-align: center">
        <div class="container">
            <h4><b>Medische hulp</b></h4>
            <p>In uw contactenboek kunt u mensen opslaan die u nodig kunt hebben voor medische hulp</p>
        </div>
    </div>

    <div class="card">
        <img src="src/assets/img/pic1.jpg" alt="Avatar" style="width:18rem; text-align: center">
        <div class="container">
            <h4><b>Vervoer</b></h4>
            <p>In uw contactenboek kunt u mensen opslaan die u nodig kunt hebben om u ergens naar toe te brengen</p>
        </div>
    </div>
</div>



