<div class="container">
    <div class="content">
        <div class="row justify-content-md-center">
            <div class="col-sm-4 m-3">
                <h2 class="mb-3"></h2>

                <form class="login-form">
                    <div class="form-group">
                        <label for="usernamelogin">Gebruikersnaam</label>
                        <input type="text" name="username" class="form-control" id="usernamelogin"
                               aria-describedby="emailHelp" placeholder="Vul uw gebruikersnaam in">
                    </div>
                    <div class="form-group">
                        <label for="passwordlogin">Wachtwoord</label>
                        <input type="password" name="password" class="form-control" id="passwordlogin"
                               placeholder="Vul wachtwoord in">
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Onthoud mij</label>
                    </div>

                    <div class="error mb-3 text-danger"></div>

                    <button type="submit" class="btn btn-primary" id="a">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>