<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">Beans 6 - Contactenboek</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-md-auto">

                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md" data-toggle="dropdown" data-target="dropdown-target" href="#" data-controller="welcome">Menu
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md-right" id="dropdownMenu">
                        <a class="dropdown-item" id="login" data-controller="login">Login</a>
                        <div class="dropdown-divider" id="loginRegistrationDivider"></div>
                        <a class="dropdown-item" id="registration" data-controller="registration">Registreer</a>
                        <div class="dropdown-divider" id="registrationHelpDivider"></div>
                        <a class="dropdown-item" id="help" data-controller="help">Help</a>
                        <div class="dropdown-divider" id="helpContactsDivider"></div>
                        <a class="dropdown-item" id="contacts" data-controller="contacts">Uw contacten</a>
                        <div class="dropdown-divider" id="contactsLogoutDivider"></div>
                        <a class="dropdown-item" id="faqitem" data-controller="faq">Veelgestelde vragen</a>
                        <div class="dropdown-divider" id="faqDivider"></div>
                        <a class="dropdown-item" id="contactUs" data-controller="contactUs">Contacteer ons</a>
                        <div class="dropdown-divider" id="contactusDivider"></div>
                        <a class="dropdown-item" id="logout" data-controller="logout" >Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
