<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">Beans 6 - Contactenboek</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-md-auto">

                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md" data-toggle="dropdown" data-target="dropdown-target" href="#" data-controller="welcome">Menu
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md-right">
                        <a class="dropdown-item" data-controller="loginController" href="#">Login</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" data-controller="registrationController">Registreer</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" data-controller="#">Help</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" data-controller="Logout" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>