<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-10 rounded-lg" style="background-color: lightgray">
            <div class="card-body">
                <h2 >Registreren</h2>
            </div>
            <div class="card-body" id="registration">
                <label class="col-6">Gebruikersnaam</label>
                <input class="col-4" id="name"/>
                <label class="col-6">Wachtwoord</label>
                <input class="col-4" type="password" id="password1"/>
                <label class="col-6">Bevestig Wachtwoord</label>
                <input class="col-4" type="password" id="password2"/>
            </div>
            <div class="card-body">
                <a type="submit" class="btn btn-block btn-success" id="login-btn" >Bevestig</a>
            </div>
        </div>
    </div>
</div>

