
<div class="row">
    <div class="col-lg-12 text-center m-2">
        <h1 class="mt-5" id="name"></h1>
        <p class="lead">Je hebt framework succesvol opgezet als je deze pagina ziet! Happy coding :)</p>
        <p>JSON uit backend voorbeeld:</p>
        <code class="example-response"></code>
    </div>
    <div class="card-body">
        <a type="submit" class="btn btn-block btn-success" id="logout-btn" >Log out</a>
    </div>

    
</div>

<!--<div class="row">-->
<!--    <div class="col-lg-12 text-center m-2">-->
<!--        <h1 class="mt-5">Het is goed gelukt!</h1>-->
<!--        <code class="example-response"></code>-->
<!--    </div>-->

<!--</div>-->