html {
    scroll-behavior: smooth;
  }

  /* Centered zoekbalk navbar */
@media (min-width: 768px) {
    .navbar-nav.navbar-center {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
  }
  
  .navbar {
      font-family: 'Montserrat', sans-serif;
      background: linear-gradient(to right, #6441a5, #2a0845);
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10;
  
  }
  
  .navbar-collapse.collapse.in {
      display: block !important;
  
  }
  
  .nav-link {
      font-size: 0.95rem;
  }
  
